/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../assets/img/Mobile login-cuate.png');
    background-size: cover;
    background-position: center center;
}

.BG {
    background-image: url('../assets/img/Mobile login-amico.png');
    background-size: cover;
    background-position: center center
}
